body {
    overflow: hidden;
}

div.title {
    font-size: xxx-large;
    font-weight: 700;
    color: white;
}

div.cat {
    background-image: url("cat.png");
    background-position-x: center;
    background-size: cover;
    max-width: 100%;
    height: 100vh;
  }