html,
body {
  /* overflow: hidden; */
  font-family: Verdana, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0px 0px 10px 0px;
}

#centerThis {
  text-align: center;
  padding: 10px;
  margin: auto;
  width: 50%;
}
