div.nav-bar {
  background-color: #000;
  list-style-type: none;
  overflow: hidden;
}

li {
  display: inline;
  float: left;
}

p.main-name {
  margin: 14px 16px;
  display: inline;
  color: white;
  float: left;
}

img.fab {
  max-height: 20px;
  width: auto;
}

li a {
  text-decoration: none;
  padding: 14px 16px;
  text-align: center;
  display: block;
  color: white;
}

li a:hover:not(.active) {
  background-color: #111;
}

div.left {
  float: left;
}

div.right {
  float: right;
}
